#!/bin/bash
# helper script to start the app when doing local dev. Saves you having to
# define env vars first
set -euo pipefail
cd `dirname "$0"`

# name of the environment that you're "deployed to". Can be dev, staging or
# production.
export DEPLOYED_TO_ENV=dev

# where is the natcap invest API
export API_BASE_URL=http://localhost:5000

yarn dev
