#!/bin/bash
# helper script to start the app when doing local dev. Saves you having to
# define env vars first
set -euo pipefail
cd `dirname "$0"`

# probably don't need to change these
export DEPLOYED_TO_ENV=${DEPLOYED_TO_ENV:-dev} # can also be 'staging' or 'production'

# TODO you may need to change these
export API_BASE_URL=http://localhost:5000

yarn dev
