@font-face {
  font-family: attractive;
  src:
    url(./fonts/Attractive-Regular.woff2) format('woff2'),
    url(./fonts/Attractive-Regular.woff) format('woff'),
    url(./fonts/Attractive-Regular.eot) format('eot');
}

button, select, html, textarea, input {
  font-family: attractive, "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}

.main-content {
  max-width: 864px;
}

table.full-width {
   width: 100%;
   text-align: left;
}

table.md-table td.md-cell.positive-result, table.md-table td.md-cell.negative-result {
  font-weight: bold;
  font-size: .9em;
}
table.md-table td.md-cell.positive-result {
  color: green;
}

table.md-table td.md-cell.negative-result {
  color: red;
}
