<md-content flex>
	<div layout="column" layout-fill="" layout-align="top center">
		<h1 class="text-center"><img src="../../images/logo.png"></h1>
		<h1>{{title}}</h1>
		<md-content flex layout-padding class="main-content">
			<h2>What is it?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id placerat ipsum, a vulputate turpis. Sed est dolor,
				ullamcorper ac luctus nec, bibendum eu dolor. Suspendisse potenti. Vivamus eget ultricies ligula. Nullam varius egestas
				feugiat. Donec vulputate metus vel accumsan accumsan. Nullam nec nibh sed nulla scelerisque convallis. Quisque finibus
				dolor eu lectus facilisis, commodo bibendum mi condimentum. Donec pretium mollis lorem, eu molestie lorem aliquam placerat.
				Vivamus lobortis accumsan nunc, at cursus velit ornare quis. Suspendisse sodales a velit sit amet gravida.</p>
			<h2>How do I use it?</h2>
			<p>Quisque ut pretium turpis. Aenean congue hendrerit magna at vestibulum. Nam nec condimentum neque. Morbi volutpat vitae
				dui non imperdiet. Aliquam viverra neque augue, eget malesuada risus dictum non. Pellentesque et ultrices sem. Proin
				dictum, ex et molestie gravida, ex nisi interdum nisi, quis facilisis lorem velit et risus. Praesent non lacinia arcu,
				aliquet sagittis risus. Morbi in ligula a urna ullamcorper malesuada ac quis erat. Sed feugiat placerat vestibulum. Nulla
				eget erat sed nulla fringilla pellentesque. Ut vel placerat massa, elementum congue nisi.</p>
			<h2>Who made it?</h2>
			<p>Nulla facilisi. Vivamus pellentesque quam rutrum mauris ultricies ultricies. Integer sed arcu sed mi facilisis ultricies
				non ut velit. Nulla rhoncus tortor ut velit hendrerit sodales. Nunc nisi ipsum, sollicitudin a porta non, consequat volutpat
				leo. Integer et vehicula massa. Nulla libero dolor, rutrum et tristique eget, viverra ut massa. Nunc eleifend risus non
				neque rhoncus aliquam. Nam et vestibulum quam, non scelerisque dui. Phasellus turpis felis, lobortis luctus scelerisque
				nec, aliquam in risus. Quisque in erat vel mauris aliquet vulputate. In et mauris leo. Orci varius natoque penatibus
				et magnis dis parturient montes, nascetur ridiculus mus. Praesent volutpat, odio posuere blandit vestibulum, nisi est
				suscipit justo, nec auctor odio arcu at mi. Etiam vehicula justo a massa maximus, non suscipit ipsum pellentesque. Integer
				porttitor scelerisque nisi.</p>
		</md-content>
	</div>
</md-content>