<md-toolbar color="primary">
  <a md-button routerLink="/app">
    <img class="logo-bee" src="../assets/small-white-bee.png">
    Pollin8
  </a>
  <a md-button routerLink="/help">Help using this tool</a>
  <a md-button routerLink="/about">About the authors</a>
</md-toolbar>

<div class="main-content">
  <h1 align="middle" class="under-construction">Under construction</h1>
  <h2 align="middle" class="under-construction">We're still building this tool. You're welcome to play with it but all the results are using fake data, don't trust them.</h2>
  <router-outlet></router-outlet>
</div>
