<p8-card cardTitle="Step 1">
  <div>What type of crop are you growing?</div>
  <md-radio-group class="p8-vertical-radio-group" [(ngModel)]="scenarioModel.cropType" (change)="updateCharts()">
    <md-radio-button class="p8-radio-button" *ngFor="let curr of crops" [value]="curr.value">
      {{curr.title}}
    </md-radio-button>
  </md-radio-group>
</p8-card>

<p8-card cardTitle="Step 2">
  <p>Place your field in the centre of the map</p>
  <div class="map-container">
    <div class="map-target-overlay"></div>
    <div class="the-map"
      leaflet 
      [leafletOptions]="options"
      [leafletBaseLayers]="baseLayers"
      [leafletLayersControlOptions]="layersControlOptions"
      (leafletMapReady)="onMapReady($event)">
    </div>
  </div>
  <div class="question-row">
    <span class="monospace">Lat = {{getLat()}}, Long = {{getLng()}}</span>
    <button md-raised-button color="primary" (click)="showNativeVegCircle()" class="input-padding">
      My field is in the centre
    </button>
  </div>
  <div class="question-row">The pink circle on the map has a 2km diameter and 314 hectare area.</div>
  <div class="question-row">
    <div>What percentage of the land in the circle is native vegetation?</div>
    <md-radio-group class="p8-vertical-radio-group" [(ngModel)]="scenarioModel.nativeVegCover" (change)="updateCharts()">
      <md-radio-button class="p8-radio-button" *ngFor="let curr of nativeVegOptions" [value]="curr.value">
        {{curr.title}}
      </md-radio-button>
    </md-radio-group>
  </div>
</p8-card>

<p8-card cardTitle="Step 3">
  <div class="question-row">
    What is the area of your field?
    <md-input-container class="input-padding">
      <input mdInput type="number" placeholder="Area" [(ngModel)]="scenarioModel.fieldArea.value" (change)="updateCharts()">
    </md-input-container>
    <md-select placeholder="Area unit" [(ngModel)]="scenarioModel.fieldArea.units" (change)="updateCharts()" class="input-padding">
      <md-option *ngFor="let curr of areaUnits" [value]="curr.value">
        {{ curr.title }}
      </md-option>
    </md-select>
  </div>
  <div class="question-row">
    <div>What is the main type of vegetation present around your field?</div>
    <md-radio-group class="p8-vertical-radio-group" [(ngModel)]="scenarioModel.vegType" (change)="updateCharts()">
      <md-radio-button class="p8-radio-button" *ngFor="let curr of vegTypes" [value]="curr.value">
        <strong>{{curr.title}}</strong> - {{curr.desc}}
      </md-radio-button>
    </md-radio-group>
  </div>
</p8-card>
<p8-chart-card #yieldChart
  [data]="chartData"
  yFieldName="netProfit"
  [yTickFormatter]="yieldTickFormatter"
  yUnitSymbol="points"
  title="Relative yield">
</p8-chart-card>

<p8-chart-card #pollinatorEfficiencyChart
  [data]="chartData"
  yFieldName="pollEff"
  [yTickFormatter]="percentTickFormatter"
  yUnitSymbol="%"
  title="Pollinator efficiency">
</p8-chart-card>