.monospace {
  font-family: monospace;
}

.question-row {
  margin: 2em 0 0em;
}

.map-container {
  position: relative; /* makes .map-target-overlay.width work */
}

.map-container .map-target-overlay, .map-container .the-map {
  height: 600px;
}

.map-container .map-target-overlay {
  position: absolute;
  z-index: 9999;
  background-image: url('/assets/small-target.png');
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  pointer-events: none; /* FIXME need another solution with more support */
}

.input-padding {
  margin-left: 1em;
}

.p8-vertical-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.p8-radio-button {
  margin: 5px;
}
